{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer.css' %}">
{% endblock css %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div class="mt-5 pt-5 text-center">
        <h1><strong>{{ content }}</strong></h1>
        <div class="currency-info mt-4">
            <h2>Курс валют:</h2>
            <p>1 USD = {{ currency_rate }} KZT</p>
        </div>
    </div>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Janibek&Justcode 2024</p>
    </div>
</footer>
{% endblock footer %}
